main .search {
    background-color: blueviolet;
}

img {
    height: 200px;
    width: 100px;
}

.card:hover {
    filter: drop-shadow(1px 1px 2px black)
}

img.about {
    height: 200px;
    width: auto;
}

/* Mobile Design */
@media (max-width: 598px) {

}
