main .search {
    background-color: blueviolet;
}

div.search-bar {
    margin:0;
}

h2 {
    font-size: 20px;
    font-style: italic;
}

main {
    background-color: #f0f0f0;
}


img {
    height: 200px;
    width: 100px;

}

.card:hover {
    filter: drop-shadow(1px 1px 2px black)
}

img.about {
    height: 200px;
    width: auto;

}

input.form-control {
    display:inline;
    width:80%;
}


nav {
    background-color: transparent;
    height: auto;
}

nav ul {
    display: flex;
    justify-content: space-around;
}


li a {
    float: left;
    color: #f2f2f2;
    padding: 2px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar ul li {
    margin-top: 2px;
    display: inline;
}

nav li a:hover {
    color: gold;
    text-decoration: underline 0.15em;
    text-underline-offset: 0.2em;
    transition: 0.5s ease-in-out;
}

div.jumbotron{
    padding: 2em;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 20px;
    background: rgb(255,255,255,0.6);
}

div.container {
    margin:0;
    max-width: 1500px;

}

label {
    display: none;
}

td, table {
    text-shadow: none;
    color: black;
    size: 20px;
}


footer {
    color: white;
    background-color: #1b1b1b;
    margin: 0;
    

}

footer a {
    color: white;
}

div.row {
    text-align: center;
}

.about_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left:0;
}

/* Medium Screen Design*/
@media (min-width: 768px) {
    h1 {
        font-size: 4em;
    }
    div.search-bar {
    }
    .search {
        background-image: url("../img/uw.jpg");
        background-size: cover;
    }
    .search {
        text-shadow: 2px 2px black;
    }
    nav {
        display: flex;
        justify-content: flex-end;
    }

}

/* Large Screen Design*/
@media (min-width: 992px) {
    div.search-bar {
        margin-bottom: 1em;
        margin-left: 5em;
        margin-right: 5em;
    }
    .card {
        max-width: 200px;
    }



}